@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


body {
  font-family:Arial, Helvetica, sans-serif;
  background:radial-gradient(rgba(22, 120, 66, 0.864), rgb(13, 113, 40),  rgba(0, 245, 98, 0.487));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 5%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#login,
#loggedin {
    display: none;

}
#login-button {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 20%;
  transform: translate(-60%, -56%);
  padding: 20px;
  align-items: center;

}
#login h1 {
  padding: 60px;
  font-family: 'Fredoka One';
  background: local;
  font-size: xx-large;
  text-shadow: 2px 2px rgb(255, 255, 255);
  
}
#main {
  float: right;
  font-family:'Fredoka One';
  animation: gradient 4s ease infinite;
}

#main h1 {
  text-shadow: -1px 1px rgba(15, 89, 46, 0.486);
  font-size:40pt;
  float: right;
  animation: gradient 4s ease infinite;
  color:rgba(255, 255, 255, 0.642);
}

#profileImage {
  border-radius: 70px;
  width: 120px;
  float: right;
  height: 120px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

#getButton {
  float: right;
  display: block;
  margin-block-start: 5%;
  width: 5%;
  font-weight: 50;
}

/* button {
  background-color: rgba(45, 172, 98, 0.61);
  color: white;
  display: inline-block;
  border: 2px inset rgba(29, 168, 103, 0.493);
  border-radius: 50px;
  margin-bottom: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px rgba(78, 78, 78, 0.39);
}

button:hover {
  background-color: rgba(27, 102, 58, 0.61);
  border: 2px inset rgba(22, 114, 71, 0.329);
  box-shadow: 0px 3px rgba(49, 49, 49, 0.39);
}

button:active {
  box-shadow: 0px 3px rgba(49, 49, 49, 0.39);
  transform: translateY(2px);
}

a {
  color: white;
}

a:hover {
  color: rgba(27, 102, 58, 0.856);
}

a:visited {
  color: lightgray;
}

a:hover:visited {
  color: rgba(24, 87, 50, 0.856);
}

#logout-button {
  float: right;
  margin-right: 33px;
  
} */
script {
  width: 25%;
  float:right
}


#topTables {
  margin-top: 10px;
}

.table {
float: right;
  width: 50%;
  opacity: 90%;
  border-radius: 20px;
  font-weight: 100;
  margin: 20px;

}

#artists{
  display: none;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  width:fit-content;
  margin: auto;
}

#getTopTracks {
  display: none;
  width: fit-content;
  min-width: 40px;
}

#artists img {
  width: 200px;
}

.artistNumber{
  width: fit-content;
  font-size: 20pt;;
}

.artistName {
  width: fit-content;
  min-width: 40px;
}


#playlistTable {
  display: none;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  float:right;
  width:20%;
}

#tracklistTable {
  display: none;
  margin: auto;
  width: fit-content;
  font-size: 12pt;
  color: white;

}

.trackName {
  width: 40pt;
}

#trackListBody {
  color:white;
}

.overlay {
  display: none;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.overlay h1 {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  text-shadow: -1px 1px rgba(202, 202, 202, 0.692);
}



.bn632-hover {
  width: 130px;
  font-size: 15px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.861);
  cursor: pointer;
  margin: 10px;
  height: 30px;
  float: right;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 40px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #097f38,
    #3cba77,
    #30dd8a,
    #2bb665
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}